/* here you can put your own css to customize and override the theme */
.table > tbody > tr > td,
.table > thead > tr > th{
    vertical-align: middle;
}

.actions a, .actions i{
    color: #fff!important;
}

div.user-action .btn{
    margin: 5px!important;
}

.input-large {
    width: 383px!important;
}

.select2-container--bootstrap .select2-results__group{
    background-color: #eee;
    color: #000 !important;
}

.select2-container--bootstrap .select2-results__option .select2-results__option{
    padding-left: 30px !important;
}

.md-checkbox label>.box{
    /*background-color: red;*/
}

.marquee {
    overflow: hidden;
}

a.zoom-in{
    text-decoration: none;
    cursor: zoom-in;
}

label.assign-course-label{
    margin-right: 10px;
}

.assign-course-margin-bottom-0{
    margin-bottom: 0;
}

.assign-course-margin-0{
    margin: 0px;
}

.header-question h4{
    font-weight: bold;
    text-decoration: underline;
}
label.durations{
    position: relative;
    right: 20px;
}

.epe-exam .price-table-content .row:first-child {
    padding-top: 50px!important;
}
.epe-exam .price-table-content .row{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.dashboard-scroller{
    color: #000;
    font-size: 14px;
    margin: -25px -20px 20px -20px;
    padding: 10px;
    border-bottom: 1px solid #e7ecf1;
    background-color: #fff;
}

.profile-userpic img{
    width: 160px !important;
    height: 160px !important;
}

.dashboard-nav li{
    display: inline;
    border: 0px !important;
}

.dashboard-nav li a{
    padding: 5px 20px 5px 0px;
}

.dashboard-profile-highlight{
    padding: 10px 0px;
    font-size: 16px;
    font-weight: bold;
}

.dashboard-course{
    margin: 5px;
    padding-left: 0px;
}

.epe-time .input-group-addon{
    width: 0!important;
    background-color:#fff;
}

.epe-duration .input-group-addon{
    width: 0!important;
}

.epe-time .input-group-addon:first-child,
.epe-duration .input-group-addon:first-child{
    border-right: 1px solid #ccc!important;
}
.table-hover>tbody>tr.bg-red-thunderbird:hover, 
.table-hover>tbody>tr.bg-red-thunderbird:hover>td {
    background: #D91E18!important;
}

/*bakibillah 12092017*/

.nav2 li a{
    padding: 10px 3px!important;
}
.nav2{
    margin-bottom: 0px!important;
    padding:0px!important;
}
.no_of_qus{
    width:0px!important;
}
.portlet2{
    margin-bottom: 0px!important;
}
.sub_qus{
    margin-bottom: 5px!important;
}

.page-header.navbar .page-logo .logo-default {
    margin: 0px 0 0!important; 
}

.subjective-question{
    font-weight: bold;
    padding: 15px 0px;
}

.subqus_title{
    margin-top:6px;
}

.exam-header{
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.confidential{
    color: darkgrey;
    padding: 8px;
    text-transform: uppercase;

}

#objectiveExamHeader{
    padding: 0px; 
    background: #fff; 

}

.script-header-sticky{
    padding: 10px;
    -webkit-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.86);
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.86);

}

#subjectiveWaiter{
    padding-top: 70px;
    font-size: 26px;
    color: red;
    font-weight: bold;
}

.comments-space {
    width:90%;
    min-height:50px;
    height:auto;
    border-radius:5px;
    background:#f0f0f0;
    margin-bottom: 5px;
    padding: 3px 5px;
    text-align: justify;
}
.remaining-content span {
    display:none;
}


.comment-custom{
    border-bottom: 1px solid #f7f8f9;
    margin: 0px!important; 
}
.comment-body-custom{
    padding-left: 0px!important; 
}

.confidential{
    color: darkgrey;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.jcsc-result-header{
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.jcsc-result-header p{
    margin: 0px;
}

table.no-border, td.no-border{
    border: 0;
}

.margin-bottom-75{
    margin-bottom: 75px;
}

.subjective-complete{
    font-weight: bold;
    padding: 10px;
}

.comment-custom{
    border-bottom: 1px solid #f7f8f9;
    margin: 0px!important; 
}

.comment-body-custom{
    padding-left: 0px!important; 
}



.jcsc-result-opt{
    padding: 15px 0;
}

.table-jcsc-result td, .table-jcsc-result thead tr th{
    font-size: 14px;
    padding: 4px;
}

.dashboard-program{
    margin: 5px;
    padding-left: 0px;
}

.dashboard-program .btn{
    width: 80px;
}

.question-script-image{
    padding: 0 20px 20px 20px;
    max-height: 300px;
}

.question-script-image-first-tab{
    padding: 20px;
    max-height: 300px;
}

.modal.fade.in {
	top: 10% !important;
}


#bug-file-show{
    display:inline-block;
    margin-right: 3px;
    border:1px solid #32c5d2;
}

#progressBarMargin{
    float: left; 
    margin-right: 5px;
}
#progressBackground{
    background-color: #E0EBF9;
}

.print-4-header{
float: left;
}
.print-footer{
float:right;
}