@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all);
body,h1,h2,h3,h4,h5,h6{
    font-family:"Open Sans",sans-serif
}
.headerElement{
    text-align: center;
    padding-bottom: 10px;
}

.header p{
    margin: 0px;
}

table{
    /*border: 1px solid #000;*/
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
    margin-bottom: 10px;
}

th, td{
    border: 1px solid #000;
    padding: 5px;
}

td.text-right{
    text-align: right;
}
th.text-left{
    text-align: left;
}

h1.report-name{
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
}

.report-footer{
    margin-top: 25px;
}

.prepared-by{
    width: 100px;
    border-top: 1px solid #000;
}

td.sub-item{
    padding-left: 20px;
}

td.text-center{
    text-align: center;
}

table.no-border, th.no-border, td.no-border{
    border: 0;
}

.has-top-border{
    border-top: 1px solid #000;
    display: inline;
    padding:0 20px;
}

.confidential{
    color: darkgrey;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.header{
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
}

.margin-bottom-75{
    margin-bottom: 75px;
}

.text-center{
    text-align:center;
}

.table2 th, .table2 td { 
    border: none !important;
}

.report-title{
    width: 40%;
}

@media print{@page {size: landscape}}

